@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4em;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
}

.relative {
  position: relative;
}

.container {
  display: flex;
  height: 15vh;
  justify-content: center;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 20%;
  margin-left: 4em;
}
.left-header img {
  width: 40%;
}

.right-header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4em;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a {
  display: block;
  text-decoration: none;
  margin: 0.3em;
  padding-bottom: 3em;
  padding-top: 3em;
  color: gray;
  font-weight: bold;
}
ul li a:hover, ul li a:active {
  border-bottom: 4px solid #0072cf;
  color: #0072cf;
}