.container {
    display: flex;
    height: 10vh;
  }  

  .left-header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    margin-left: 4em;
    img {
      width: 20%;
    }
  }
  
  .right-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4em;

  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li a {
      display: block;
      text-decoration: none;
      margin: 0.3em;
      padding-bottom: 3em;
      padding-top: 3em;
      color: gray;
      font-weight: bold;
      &:hover,
      &:active {
        border-bottom: 4px solid $bluemain;
        color: $bluemain;
      }
    }
  }
